{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock page_title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
    </head>
    <body class="text-gray-800 mt-16"> 
        <header class="containers max-w-full flex items-center justify-between px-5 h-16 border-b border-gray-400 fixed bg-white inset-0">
            <div class="flex items-center">
                <a href="{% url "core:home" %}" class="mr-2"><h1 class="font-mono text-3xl"><i class="fas fa-laptop-code mr-2"></i>Codeculum</h1></a>
                {% block search-bar %} 
                    <form method="get" action="{% url "curriculums:search" %}">
                        <input name ="title" placeholder="Search by title/skills" value="" class="search-box border px-5 py-2 ml-1 rounded-md w-56 shadow-md hover:shadow-lg focus:outline-none text-sm font-medium placeholder-gray-500">
                    </form>
                {% endblock search-bar%} 
            </div>
                {% include "partials/nav.html" %}    
        </header>
        {% block content %}{% endblock%} 

        {% include "partials/footer.html" %}    
    </body>
</html>